<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{transactions.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{transactions.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/transactionss}" th:text="#{transactions.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('transactions')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='transactions', field='type', type='radio')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transactions', field='montant')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transactions', field='date', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transactions', field='comptes', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='transactions', field='comptess', type='select')}" />
                <input type="submit" th:value="#{transactions.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
